/* Import selected Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Define CSS variables in :root pseudo-class */
:root {
  --primary-color: #001F3F;
  --secondary-color: #3D9970;
  --accent1-color:#FFD700 ;
  --accent2-color:#FF4136 ;
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Lora', serif;
  --navigation-bg: #396e94;
  --navigation-link: #ffffff;
  --navigation-hover-link: #f8f8f8;
  --navigation-hover-bg: #a43312;
}

/* Body selector rule */
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

/* Grouped headings selector */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--heading-color); /* Add the desired heading color */
}

/* Header selector */
header {
  padding: 20px;
  background-color: var(--primary-color); /* Add the desired background color */
}

/* Paragraph selector */
p {
  padding: 10px; /* Add appropriate padding */
}

/* Navigation selector */
nav {
  background-color: var(--navigation-bg);
}

/* Navigation link selector */
nav a {
  color: var(--navigation-link);
}

/* Navigation link hover selector */
nav a:hover {
  color: var(--navigation-hover-link);
  background-color: var(--navigation-hover-bg);
}
